@page "/calculator"
<h3>Calculator</h3>

<div class="form-group">
    <label for="number1">Number1</label>
    <input type="number" class="form-control" id="number1" @bind="number1" />
</div>
<div class="form-group">
    <label for="number2">Number 2</label>
    <input type="number" class="form-control" id="number2" @bind="number2">
</div>
<div class="form-group">
    <label><b>Total: </b>@total</label>
</div>

@code {
    private int number1 = 0;
    private int number2 = 0;
    private int total = 0;

    private void Calculate()
    {
        total = number1 + number2;
    }
}
