@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<p>页面组件服用  Razor直接引入</p>
<Counter ParamCount="10"></Counter>
