<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>
  <appSettings>
    <!-- ================== BIMFace 开发相关配置 Start ================== -->
    <add key="BIMFACE_AppKey"    value="" />
    <add key="BIMFACE_AppSecret" value="" />
    <add key="BIMFACE_API_HOST" value="https://api.bimface.com" />
    <!--BIMFACE API地址  http://bim.spark-ifuture.com:9080-->
    <add key="BIMFACE_FILE_HOST" value="https://file.bimface.com" />
    <!--BIMFACE 文件存储地址  http://bim.spark-ifuture.com:9080/file-->
    <add key="BIMFACE_Callback"  value="" />
    <!--BIMFACE API 回调地址-->
    <!-- ================== BIMFace 开发相关配置 End   ================== -->
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"  maxRequestLength="1048576" executionTimeout="3600"/>
    <!--最大请求长度,单位为KB(千字节),默认为4M,设置为1G,上限为2G -->
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization"/>
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt"/>
      </controls>
    </pages>
  </system.web>
  <system.webServer>
    <!--允许上传文件长度,单位字节（B）,默认为30M,设置为1G,最大为2G -->
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
 
</configuration>